*{
    font-family: circularairpro-bold,Helvetica,Arial,sans-serif;
    font-weight: 700;
}
#ps_box{
    border: 1px solid red;
    margin-top: 200px;
    /* width: 1171px; */
}
#ps_4_option{
    /* margin-top: 00px; */
    border: 1px solid black;
    display: grid;
    width: 1160px;
    margin: auto;
    position: relative;
    grid-template-columns: repeat(4,1fr);
}

#ps_4_option div{
    border: 1px solid green;
}

#ps_4_option div img{
width: 100%;
}

#_spotlight{
border: 2px solid brown;
margin-top: 50px;
}
#ps_spotlight{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 1160px;
    margin: auto;
    margin-top: 10px;
    gap: 20px;
}
#ps_spotlight div{
    border: 1px solid skyblue;
    
}
#ps_spotlight div img{
    width: 259px;
    height: 172px;
    border-radius: 5px;
    }

    #ps_spotlight div div:nth-child(3)
    {
        border: 1px solid darkmagenta;
        height: 77;
        width: 259;
        margin-top: 10px;
        font-size: 18px;
        word-wrap: break-word;
        line-height: 1.5;
    }
    #ps_spotlight div div:nth-child(2){
        color: #F63;
        margin-top: 5px;
        font-size: 12px;
    }

    .slide_img_ps{
        width: 1160px;
        margin-left: 180px;
        margin-top: 50px;
        border-radius: 5px;   
    }
    #slideshow_ps_2 img{
        width: 1160px;
        margin-left: 180px;
        margin-top: 50px;
        border-radius: 5px; 
    }
   
    #_placevisit_ps{
        border: 2px solid brown;
margin-top: 50px;
    }

    #ps_placevisit{
        border: 1px solid red;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 1160px;
        margin: auto;
        margin-top: 10px;
        gap: 20px;
    }

    #ps_placevisit div img{
        width: 259px;
        height: 172px;
        border-radius: 5px;
        }



        #ps_placevisit div div:nth-child(3)
        {
            border: 1px solid darkmagenta;
            /* height: 77; */
            width: 259;
            margin-top: 10px;
            
            /* font-size: 18px; */
            /* word-wrap: break-word; */
            /* line-height: 1.5; */
        }
        #ps_placevisit div div:nth-child(3) a
        {
            border: 1px solid darkmagenta;
            /* height: 77; */
        color: #73bce7;
            
            font-size: 16px;
            /* word-wrap: break-word; */
            /* line-height: 1.5; */
        }
        #ps_placevisit div div:nth-child(2){
            /* color: #F63; */
            margin-top: 5px;
            font-size: 18px;
        }